.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
}

.inputContainer label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}

.inputContainer input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    height: 2em;
}

.inputContainer .error {
    color: #ca3e51;
    margin: 2px 2px;
}